@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/react-modal-video/css/modal-video.css";
@import "node_modules/leaflet/dist/leaflet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #ccd7ff;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2c2e80;
}

header .swiper .swiper-pagination {
  bottom: 70px;
}

.mask1 {
  -webkit-mask-image: url("/mask_1.png");
  mask-image: url("/mask_1.png");
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.mask2 {
  -webkit-mask-image: url("/mask_4.png");
  mask-image: url("/mask_4.png");
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.teams_swiper.swiper .swiper-pagination-progressbar {
  top: auto;
  bottom: 0;
  background: #ebebff;
  border-radius: 3.5px;
  overflow: hidden;
}

.teams_swiper.swiper
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #2c2e80;
  border-radius: 3.5px;
}

.teams_swiper.swiper .swiper-slide:nth-child(3n + 1) .member-wrapper {
  background: url("/team_1.svg") no-repeat;
  background-size: 89%;
  background-position: 33% 2%;
}

.teams_swiper.swiper .swiper-slide:nth-child(3n - 1) .member-wrapper {
  background: url("/team_2.svg") no-repeat;
  background-size: 96%;
  background-position: 95% 79%;
}

.teams_swiper.swiper .swiper-slide:nth-child(3n) .member-wrapper {
  background: url("/team_3.svg") no-repeat;
  background-size: 96%;
  background-position: 95% 23%;
}

.modal-video-body {
  max-width: 1560px;
}

@media (max-width: 1024px) {
  .teams_swiper.swiper .swiper-pagination-progressbar {
    display: none;
  }
}
